In [32]:
import api
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
ads = api.naverAdsAPI()
r = ads.get_keywords(keyword="증류주")
r.head(30)

In [44]:
# 일별, 월별 검색량 조회
startDate = "2023-02-10"
endDate = "2023-03-10"
timeUnit = 'date'
device = ''
ages = []
gender = ''

keyword_group_set = {
    'keyword_group_1': {'groupName': "위스키", 'keywords': ["위스키"]},
    'keyword_group_2': {'groupName': "양주", 'keywords': ["양주"]},
    'keyword_group_3': {'groupName': "잭다니엘", 'keywords': ["잭다니엘"]},
    'keyword_group_4': {'groupName': "테슬라", 'keywords': ["테슬라","Tesla","TSLA"]},
    'keyword_group_5': {'groupName': "페이스북", 'keywords': ["페이스북","Facebook","FB"]}
}

search = api.naverSearchAPI()
search.add_keyword_group(keyword_group_set['keyword_group_1'])
search.add_keyword_group(keyword_group_set['keyword_group_2'])
search.add_keyword_group(keyword_group_set['keyword_group_3'])

search_df = search.get_data(startDate, endDate, timeUnit, ages, gender, device)
search_df.head(30)

results.title    양주    위스키  잭다니엘
period
2023-02-10    57.46  80.39 40.35
2023-02-11    54.78 100.00 45.31
2023-02-12    52.33  66.54 38.06
2023-02-13    54.61  64.41 33.99
2023-02-14    55.48  60.05 34.23
2023-02-15    56.09  53.90 32.40
2023-02-16    53.52  56.31 31.06
2023-02-17    54.18  64.33 34.42
2023-02-18    50.75  60.18 39.71
2023-02-19    47.27  60.69 38.03
2023-02-20    51.84  54.97 31.06
2023-02-21    54.44  65.43 30.78
2023-02-22    50.90  54.46 31.38
2023-02-23    49.46  59.54 36.55
2023-02-24    52.29  80.64 50.73
2023-02-25    55.78  87.30 46.44
2023-02-26    50.78  93.17 43.40
2023-02-27    52.03  64.46 40.69
2023-02-28    53.41  61.11 45.18
2023-03-01    48.18  57.50 44.88
2023-03-02    49.33  56.07 36.72
2023-03-03    51.56  61.99 41.76
2023-03-04    49.82  60.62 50.52
2023-03-05    44.71  58.75 45.40
2023-03-06    47.76  51.16 38.01
2023-03-07    48.56  49.76 34.03
2023-03-08    48.48  55.56 34.76
2023-03-09    46.71  51.25 35.06
2023-03-10    48.37  57.18 34.99

In [36]:
# Best Date to post ads
# Best Gender, age, device
# Trend plot -> future predictions

In [37]:
ads = api.naverAdsAPI()

In [38]:
ads.get_avg_bid()

   광고_단가     키워드  광고_노출_순위
0   3450    제주여행         1
1   1210  게스트하우스         1
2   1160   자전거여행         1