In [1]:
import api
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [3]:
ads = api.naverAdsAPI()
r = ads.get_keywords(keyword="증류주")
r.head(30)

,키워드,월간검색수_PC,월간검색수_모바일,월평균클릭수_PC,월평균클릭수_모바일,월평균클릭률_PC,월평균클릭률_모바일,월평균노출광고수,경쟁정도
0,증류주,1850,7740,0.30,1.70,0.02,0.03,3,높음
1,전통주,4660,13800,58.90,374.60,1.31,2.91,15,높음
2,담금주,2230,11600,14.70,231.30,0.69,2.16,15,높음
3,담금주소주,150,1170,1.30,28.30,0.85,2.61,13,중간
4,담금소주,230,1470,2.60,43.30,1.11,3.20,15,높음
5,영동와인,200,1130,1.90,48.70,0.98,4.66,13,중간
6,야관문주,650,5140,1.10,56.50,0.18,1.19,15,높음
7,담금주키트,750,2880,5.70,61.30,0.76,2.28,15,높음
8,국산와인,150,570,1.10,9.00,0.77,1.74,15,높음
9,레드와인,1950,11800,2.10,93.60,0.12,0.92,15,높음
10,레드와인추천,970,7920,3.70,0.70,0.40,0.01,3,높음
11,담금주만들기,210,1470,1.00,0.70,0.48,0.05,3,높음
12,담금주가격,50,250,0.50,15.80,0.96,6.74,15,높음
13,담금주도수,190,1820,1.80,10.00,1.00,0.60,13,중간
14,술담화,4190,15300,0.00,0.00,0.00,0.00,0,낮음
15,담금술,60,270,0.40,9.00,0.71,3.49,15,높음
16,산삼주,300,2050,1.70,16.80,0.60,0.90,15,높음
17,담금주종류,150,1370,0.60,3.00,0.40,0.24,15,높음
18,전통주선물,240,1170,2.10,18.80,0.85,1.69,15,높음
19,과일주,200,1260,0.60,8.30,0.31,0.70,15,높음
20,와인쇼핑몰,2170,13500,136.90,1439.00,6.56,12.06,15,높음
21,내추럴와인,670,3390,7.10,1.70,1.08,0.06,3,낮음
22,매실주,530,3470,2.50,4.80,0.49,0.15,14,높음
23,전통주구독,190,750,5.80,38.80,3.09,5.54,4,낮음
24,과일담금주,70,520,0.10,2.00,0.20,0.42,15,높음
25,야관문담금주,40,460,0.00,7.30,0.00,1.73,15,높음
26,담금주술,30,210,0.30,7.00,0.98,3.40,13,중간
27,더덕주,180,1410,0.30,2.10,0.19,0.16,15,높음
28,담금주판매,80,520,0.90,13.70,1.10,2.95,15,높음
29,아이스와인,1180,8790,7.70,5.00,0.68,0.07,3,높음

In [1]:
# 일별, 월별 검색량 조회
import api
startDate = "2023-02-10"
endDate = "2023-03-10"
timeUnit = 'date'
device = ''
ages = []
gender = ''

keyword_group_set = {
    'keyword_group_1': {'groupName': "위스키", 'keywords': ["위스키"]},
    'keyword_group_2': {'groupName': "양주", 'keywords': ["양주"]},
    'keyword_group_3': {'groupName': "잭다니엘", 'keywords': ["잭다니엘"]},
    'keyword_group_4': {'groupName': "테슬라", 'keywords': ["테슬라","Tesla","TSLA"]},
    'keyword_group_5': {'groupName': "페이스북", 'keywords': ["페이스북","Facebook","FB"]}
}

search = api.naverSearchAPI()
search.add_keyword_group(keyword_group_set['keyword_group_1'])
search.add_keyword_group(keyword_group_set['keyword_group_2'])
search.add_keyword_group(keyword_group_set['keyword_group_3'])

search_df = search.get_data(startDate, endDate, timeUnit, ages, gender, device)
search_df.head(30)

results.title    양주    위스키  잭다니엘
period
2023-02-10    57.46  80.39 40.35
2023-02-11    54.78 100.00 45.31
2023-02-12    52.33  66.54 38.06
2023-02-13    54.61  64.41 33.99
2023-02-14    55.48  60.05 34.23
2023-02-15    56.09  53.90 32.40
2023-02-16    53.52  56.31 31.06
2023-02-17    54.18  64.33 34.42
2023-02-18    50.75  60.18 39.71
2023-02-19    47.27  60.69 38.03
2023-02-20    51.84  54.97 31.06
2023-02-21    54.44  65.43 30.78
2023-02-22    50.90  54.46 31.38
2023-02-23    49.46  59.54 36.55
2023-02-24    52.29  80.64 50.73
2023-02-25    55.78  87.30 46.44
2023-02-26    50.78  93.17 43.40
2023-02-27    52.03  64.46 40.69
2023-02-28    53.41  61.11 45.18
2023-03-01    48.18  57.50 44.88
2023-03-02    49.33  56.07 36.72
2023-03-03    51.56  61.99 41.76
2023-03-04    49.82  60.62 50.52
2023-03-05    44.71  58.75 45.40
2023-03-06    47.76  51.16 38.01
2023-03-07    48.56  49.76 34.03
2023-03-08    48.48  55.56 34.76
2023-03-09    46.71  51.25 35.06
2023-03-10    48.37  57.18 34.99

In [36]:
# Best Date to post ads
# Best Gender, age, device
# Trend plot -> future predictions

In [37]:
ads = api.naverAdsAPI()

In [38]:
ads.get_avg_bid()

   광고_단가     키워드  광고_노출_순위
0   3450    제주여행         1
1   1210  게스트하우스         1
2   1160   자전거여행         1