In [5]:
import api
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)


startDate = "2023-02-10"
endDate = "2023-03-08"
timeUnit = 'date'
device = ''
ages = []
gender = ''

keyword_group_set = {
    'keyword_group_1': {'groupName': "애플", 'keywords': ["애플","Apple","AAPL"]},
    'keyword_group_2': {'groupName': "아마존", 'keywords': ["아마존","Amazon","AMZN"]},
    'keyword_group_3': {'groupName': "구글", 'keywords': ["구글","Google","GOOGL"]},
    'keyword_group_4': {'groupName': "테슬라", 'keywords': ["테슬라","Tesla","TSLA"]},
    'keyword_group_5': {'groupName': "페이스북", 'keywords': ["페이스북","Facebook","FB"]}
}


search = api.NaverSearchAPI()
search.add_keyword_group(keyword_group_set['keyword_group_1'])
# search.add_keyword_group(keyword_group_set['keyword_group_2'])
# search.add_keyword_group(keyword_group_set['keyword_group_3'])

search_df = search.get_data(startDate, endDate, timeUnit, ages, gender, device)
search_df.head()

results.title    애플
period
2023-02-10    95.78
2023-02-11    85.94
2023-02-12    81.57
2023-02-13    99.82
2023-02-14    99.68

In [7]:
ads = api.NaverAdsAPI()
r = ads.get_keywords(keyword="가무치")
r

,연관키워드,월간검색수_PC,월간검색수_모바일,월평균클릭수_PC,월평균클릭수_모바일,월평균클릭률_PC,월평균클릭률_모바일,월평균노출광고수,경쟁정도
0,가무치,240,1160,17.00,86.00,12.60,11.16,1,낮음