In [11]:
import api
import pandas as pd
import numpy as np
import nltk
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [7]:
ads = api.NaverAdsAPI()
r = ads.get_keywords(keyword="위스키")
r.head(30)

,키워드,월간검색수_PC,월간검색수_모바일,월평균클릭수_PC,월평균클릭수_모바일,월평균클릭률_PC,월평균클릭률_모바일,월평균노출광고수,경쟁정도
0,위스키,19500,83200,145.50,1690.90,0.81,2.26,15,높음
1,주류백화점,2370,16500,80.70,992.00,3.67,6.58,15,높음
2,조니워커블루라벨,5310,47800,60.40,1155.30,1.22,2.64,12,중간
3,발렌타인30년산가격,5880,71800,77.90,2478.60,1.44,3.84,8,중간
4,조니워커블루라벨가격,3690,39200,39.60,990.30,1.16,2.76,8,중간
5,발렌타인21년산가격,3410,42600,36.80,1078.20,1.16,2.77,9,중간
6,로얄살루트21년산,3830,54900,57.90,1857.20,1.64,3.67,10,중간
7,발렌타인30년산,3040,14800,46.10,526.80,1.64,3.89,11,중간
8,맥켈란,4380,23500,43.10,133.30,1.05,0.62,9,중간
9,글렌피딕,4130,23900,22.60,391.30,0.59,1.78,11,중간
10,발렌타인21년산,1720,8580,17.50,244.50,1.09,3.11,12,중간
11,양주,17500,64800,28.10,561.30,0.18,0.94,15,높음
12,잭다니엘,6480,57100,32.70,773.50,0.54,1.47,15,높음
13,발베니,7070,45700,50.00,799.00,0.76,1.89,13,중간
14,위스키추천,3330,26900,20.40,103.30,0.66,0.43,13,중간
15,싱글몰트위스키,1840,11000,9.60,26.00,0.57,0.26,15,높음
16,로얄살루트,2880,20200,23.30,354.00,0.86,1.88,13,중간
17,발렌타인30년,1280,5010,16.10,176.50,1.35,3.87,12,중간
18,발렌타인17년산가격,2980,33800,38.40,1115.00,1.40,3.62,9,중간
19,위스키구매,340,1320,16.20,105.80,5.01,8.80,11,중간
20,글랜피딕,1600,9290,18.40,95.00,1.24,1.13,6,중간
21,잭다니엘허니,2890,26900,13.70,217.00,0.51,0.88,12,중간
22,조니워커,3200,18400,25.50,371.80,0.86,2.21,13,중간
23,스카치블루21년산,1350,21100,33.90,847.00,2.69,4.39,3,낮음
24,주류,2520,6860,13.50,81.60,0.57,1.28,15,높음
25,가자주류,2270,9870,153.00,598.60,7.20,6.61,6,중간
26,로얄살루트32년산,870,10700,30.10,466.40,3.68,4.64,4,낮음
27,가자주류백화점,1120,6600,128.30,729.20,12.15,12.02,5,중간
28,로얄살루트21,1400,9520,35.00,108.30,2.67,1.25,5,중간
29,산토리위스키,8440,105400,125.00,2461.70,1.57,2.52,6,중간

In [8]:
keyword_list = list(r["키워드"].head(30))
keyword_list

['위스키',
 '주류백화점',
 '조니워커블루라벨',
 '발렌타인30년산가격',
 '조니워커블루라벨가격',
 '발렌타인21년산가격',
 '로얄살루트21년산',
 '발렌타인30년산',
 '맥켈란',
 '글렌피딕',
 '발렌타인21년산',
 '양주',
 '잭다니엘',
 '발베니',
 '위스키추천',
 '싱글몰트위스키',
 '로얄살루트',
 '발렌타인30년',
 '발렌타인17년산가격',
 '위스키구매',
 '글랜피딕',
 '잭다니엘허니',
 '조니워커',
 '스카치블루21년산',
 '주류',
 '가자주류',
 '로얄살루트32년산',
 '가자주류백화점',
 '로얄살루트21',
 '산토리위스키']

In [8]:
startDate = "2023-02-10"
endDate = "2023-03-10"
timeUnit = 'date'
device = ''
ages = []
gender = ''

keyword_group_set = {
    'keyword_group_1': {'groupName': "위스키", 'keywords': ["위스키"]},
    'keyword_group_2': {'groupName': "양주", 'keywords': ["양주"]},
    'keyword_group_3': {'groupName': "잭다니엘", 'keywords': ["잭다니엘"]},
    'keyword_group_4': {'groupName': "테슬라", 'keywords': ["테슬라","Tesla","TSLA"]},
    'keyword_group_5': {'groupName': "페이스북", 'keywords': ["페이스북","Facebook","FB"]}
}

search = api.NaverSearchAPI()
search.add_keyword_group(keyword_group_set['keyword_group_1'])
search.add_keyword_group(keyword_group_set['keyword_group_2'])
search.add_keyword_group(keyword_group_set['keyword_group_3'])

search_df = search.get_data(startDate, endDate, timeUnit, ages, gender, device)
search_df.head(30)

results.title    양주    위스키  잭다니엘
period
2023-02-10    57.46  80.39 40.35
2023-02-11    54.78 100.00 45.31
2023-02-12    52.33  66.54 38.06
2023-02-13    54.61  64.41 33.99
2023-02-14    55.48  60.05 34.23
2023-02-15    56.09  53.90 32.40
2023-02-16    53.52  56.31 31.06
2023-02-17    54.18  64.33 34.42
2023-02-18    50.75  60.18 39.71
2023-02-19    47.27  60.69 38.03
2023-02-20    51.84  54.97 31.06
2023-02-21    54.44  65.43 30.78
2023-02-22    50.90  54.46 31.38
2023-02-23    49.46  59.54 36.55
2023-02-24    52.29  80.64 50.73
2023-02-25    55.78  87.30 46.44
2023-02-26    50.78  93.17 43.40
2023-02-27    52.03  64.46 40.69
2023-02-28    53.41  61.11 45.18
2023-03-01    48.18  57.50 44.88
2023-03-02    49.33  56.07 36.72
2023-03-03    51.56  61.99 41.76
2023-03-04    49.82  60.62 50.52
2023-03-05    44.71  58.75 45.40
2023-03-06    47.76  51.16 38.01
2023-03-07    48.56  49.76 34.03
2023-03-08    48.48  55.56 34.76
2023-03-09    46.71  51.25 35.06
2023-03-10    48.37  57.18 34.99

In [9]:
# Best Date to post ads
# Best Gender, age, device
# Trend plot -> future predictions

In [1]:
import api
ads = api.NaverAdsAPI()

In [2]:
ads.get_avg_bid()

   광고_단가     키워드  광고_노출_순위
0   3140    제주여행         1
1   1100  게스트하우스         1
2   1060   자전거여행         1

In [16]:
import nltk
from konlpy.tag import Mecab
from sklearn.feature_extraction.text import TfidfVectorizer

# Sample Korean text
text = ' '.join(keyword_list)

# Tokenize the text using Mecab
mecab = Mecab()
tokens = mecab.morphs(text)

# Remove stop words from the tokens
stop_words = ["추천", "가격", "구매"]  # Custom stop word list
filtered_tokens = [word for word in tokens if word not in stop_words]

# Create a TF-IDF vectorizer
vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(filtered_tokens)

# Get the keywords with the highest TF-IDF score
feature_names = vectorizer.get_feature_names_out()
# top_keywords = [feature_names[i] for i in tfidf.toarray()[0]]
# top_keywords = np.argsort(top_keywords)

print(feature_names)

['17' '21' '30' '32' '글렌' '다니엘' '라벨' '로얄' '루트' '맥켈란' '몰트위스키' '발렌타인' '백화점'
 '베니' '블루' '산토리' '스카치' '싱글' '양주' '워커' '위스키' '조니' '주류' '허니']

In [17]:
print(text)

위스키 주류백화점 조니워커블루라벨 발렌타인30년산가격 조니워커블루라벨가격 발렌타인21년산가격 로얄살루트21년산 발렌타인30년산 맥켈란 글렌피딕 발렌타인21년산 양주 잭다니엘 발베니 위스키추천 싱글몰트위스키 로얄살루트 발렌타인30년 발렌타인17년산가격 위스키구매 글랜피딕 잭다니엘허니 조니워커 스카치블루21년산 주류 가자주류 로얄살루트32년산 가자주류백화점 로얄살루트21 산토리위스키